{% extends "base.html" %}
{% load humanize %}

{% block content %}

<div class="row">
    <table>
    <tr>
        <th><strong>Year</strong></th>
        <th><strong>Quarter</strong></th>
        <th><strong>Month</strong></th>
        <th><strong>Invoice Count</strong></th>
        <th><strong>Value (RON)</strong></th>
    </tr>
    {% for year, total_year in totals.items %}
        {% if year != "total" %}
        <tr style="background-color: lightgray;">
            <td>{{ year }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total_year.total|floatformat:2|intcomma }}</td>
        </tr>
        {% for quarter, total_quarter in total_year.items %}
            {% if quarter != "total" %}
            <tr>
                <td></td>
                <td>{{ quarter }}</td>
                <td></td>
                <td></td>
                <td>{{ total_quarter.total|floatformat:2|intcomma }}</td>
            </tr>
            {% for month, total_month in total_quarter.items %}
                {% if month != "total" %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ total_month.date|date:"F" }}</td>
                    <td>{{ total_month.count }}</td>
                    <td>{{ total_month.total|floatformat:2|intcomma }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endfor %}
    </table>
    </div>
{% endblock %}
