{% extends "base.html" %}
{% load humanize %}
{% block content %}

{{ totals|json_script:"totals-data" }}
<!-- create a node to display dynamcaly a chart for all data in my_table  -->

<div class="row">
  <canvas id="reportChart"></canvas>
  <button id="backButton" style="float: left;">Back</button>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    (function () {
      'use strict';

      // Create chart creation function
      function createChart(canvasId, labels, data, label) {
        return new Chart(canvasId, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [
              {
                label: label,
                data: data,
                backgroundColor: 'rgba(200, 200, 200, 0.5)', // Set the background color for the bars
                borderColor: 'rgba(200, 200, 200, 1)', // Set the border color for the bars
                borderWidth: 1, // Set the border width for the bars
              },
            ],
          },
          options: {
            responsive: true, // Make the chart responsive
            scales: {
              y: {
                beginAtZero: true, // Start the y-axis at zero
              },
            },
          },
        });
      }

      // Delete chart
      function deleteChart(chart) {
        chart.destroy();
      }

      // Get data for chart
      var totalsData = JSON.parse(document.getElementById('totals-data').textContent);
      var years = Object.keys(totalsData);
      var yearData = Object.values(totalsData).map(function (obj) { return obj.total; });
      var selectedYear = years[0]; // Initialize with the first year

      function getQuarters(year) {
        var quarters = Object.keys(totalsData[year]).filter(function (key) { return key !== "total"; });
        var quarterData = quarters.map(function (quarter) { return totalsData[year][quarter].total; });
        return [quarters, quarterData];
      }

      function getMonths(year, quarter) {
        var months = Object.keys(totalsData[year][quarter]).filter(function (key) { return key !== "total"; });
        var monthData = months.map(function (month) { return totalsData[year][quarter][month].total; });
        return [months, monthData];
      }

      var chartCanvas = document.getElementById('reportChart');

      // create Yearly chart as default
      var x_axis = years;
      var y_axis = yearData;
      var label = 'Yearly Totals';
      var chart = createChart(chartCanvas, x_axis, y_axis, label);

      // update chart based on event handler
      chartCanvas.addEventListener('click', function (e) {
        var activePoints = chart.getElementsAtEventForMode(e, 'index', { intersect: true }, true);
        if (activePoints.length > 0) {
          var dataIndex = activePoints[0].index;
          if (label === 'Yearly Totals') {
            selectedYear = years[dataIndex];
            x_axis = getQuarters(selectedYear)[0];
            y_axis = getQuarters(selectedYear)[1];
            label = 'Quarterly Totals - ' + selectedYear;
          } else if (label.includes('Quarterly Totals')) {
            var selectedQuarter = Object.keys(totalsData[selectedYear]).filter(function (key) { return key !== "total"; })[dataIndex];
            x_axis = getMonths(selectedYear, selectedQuarter)[0];
            y_axis = getMonths(selectedYear, selectedQuarter)[1];
            label = 'Monthly Totals - ' + selectedQuarter + ' - ' + selectedYear;
          }
          deleteChart(chart);
          chart = createChart(chartCanvas, x_axis, y_axis, label);
        }
      });

      // add back button
      var backButton = document.getElementById('backButton');
      backButton.addEventListener('click', function () {
        if (label.includes('Quarterly Totals')) {
          x_axis = years;
          y_axis = yearData;
          label = 'Yearly Totals';
        } else if (label.startsWith('Monthly Totals -')) {
          x_axis = getQuarters(selectedYear)[0];
          y_axis = getQuarters(selectedYear)[1];
          label = 'Quarterly Totals - ' + selectedYear;
        }
        deleteChart(chart);
        chart = createChart(chartCanvas, x_axis, y_axis, label);
      });
    })();
  </script>
</div>




<div id=my_table class="row">
    <table class="centered highlight">
        <thead>
            <th>Year</th>
            <th>Quarter</th>
            <th>Month</th>
            <th>Invoice<br />count</th>
            <th class="amount">Amount</th>
        </thead>
        {% for year, total_year in totals.items %}
        {% if year != "total" %}
            <tr class="yearly grey lighten-2">
                <td>{{ year }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="amount">{{ total_year.total|floatformat:2|intcomma }} lei</td>
            </tr>
            {% for quarter, total_quarter in total_year.items %}
            {% if quarter != "total" %}
                <tr class="quarterly grey lighten-4">
                    <td></td>
                    <td>{{ quarter }}</td>
                    <td></td>
                    <td></td>
                    <td class="amount">{{ total_quarter.total|floatformat:2|intcomma }} lei</td>
                </tr>
                {% for month, total_month in total_quarter.items %}
                {% if month != "total" %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ total_month.date|date:"F" }}</td>
                    <td>{{ total_month.count }}</td>
                    <td class="amount">{{ total_month.total|floatformat:2|intcomma }} lei</td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
