{% extends "base.html" %}
{% load humanize %}
{% block content %}

{{ totals|json_script:"totals-data" }}

<div class="row">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <canvas id="yearChart"></canvas>
  <canvas id="quarterChart"></canvas>
  <canvas id="monthChart"></canvas>

  <button id="backButton" style="display: none; float: left;">Back</button>
  <button id="backButtonM" style="display: none; float: left;">Back</button>


  <script>
    // Global variable
    let selectedYear;
    let quarters;
    let quarterData;

    // Get the canvas elements
    let chartCanvas = document.getElementById('yearChart');
    let quarterChartCanvas = document.getElementById('quarterChart');
    let monthChartCanvas = document.getElementById('monthChart');

    // Get the back button element
    let backButton = document.getElementById('backButton');
    let backButtonM = document.getElementById('backButtonM');

    // Function to create a chart
    function createChart(canvasId, labels, data, label) {
      return new Chart(canvasId, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [
            {
              label: label,
              data: data,
              backgroundColor: 'rgba(200, 200, 200, 0.5)', // Set the background color for the bars
              borderColor: 'rgba(200, 200, 200, 1)', // Set the border color for the bars
              borderWidth: 1 // Set the border width for the bars
            }
          ]
        },
        options: {
          responsive: true, // Make the chart responsive
          scales: {
            y: {
              beginAtZero: true // Start the y-axis at zero
            }
          }
        }
      });
    }

    // Data for the years chart
    let totalsData = JSON.parse(document.getElementById('totals-data').textContent);
    let years = Object.keys(totalsData);
    let data = Object.values(totalsData).map(obj => obj.total);

    // Create the chart
    let chart = createChart(chartCanvas, years, data, 'Yearly Values');

    // Add event listener to the chart
    chartCanvas.addEventListener('click', function(e) {
      let activePoints = chart.getElementsAtEventForMode(e, 'index', { intersect: true }, true);
      if (activePoints.length > 0) {
        let dataIndex = activePoints[0].index;
        selectedYear = years[dataIndex];
        let selectedData = totalsData[selectedYear];

        let { total, ...quartersData } = selectedData;
        quarters = Object.keys(quartersData);
        quarterData = Object.values(quartersData).map(obj => obj.total).filter(value => value !== undefined);

        // Clear the previous chart
        chart.destroy();

        // Hide the yearly chart and show the quarter data container
        chartCanvas.style.display = 'none';
        quarterChartCanvas.style.display = 'block';

        // Create the chart for the quarters
        let qchart = createChart(quarterChartCanvas, quarters, quarterData, 'Quarterly Values of ' + selectedYear);

        // Show the back button
        backButton.style.display = 'inline-block';

        // Add event listener to the back button
        backButton.addEventListener('click', function() {
          // Clear the quarter chart
          qchart.destroy();
          // Hide the quarter chart and show the year chart
          quarterChartCanvas.style.display = 'none';
          chartCanvas.style.display = 'block';
          chart = createChart(chartCanvas, years, data, 'Yearly Values');

          // Reset the back button
          backButton.style.display = 'none';
        });

        // Add event listener to the quarter chart
        quarterChartCanvas.addEventListener('click', function(e) {
          let activePointsQ = qchart.getElementsAtEventForMode(e, 'index', { intersect: true }, true);
          if (activePointsQ.length > 0) {
            let dataIndexQ = activePointsQ[0].index;
            let selectedQuarter = quarters[dataIndexQ];
            let selectedQuarterData = quartersData[selectedQuarter];

            let { total, ...monthsData } = selectedQuarterData;
            let months = Object.keys(monthsData);
            let monthData = Object.values(monthsData).map(obj => obj.total).filter(value => value !== undefined);

            // Clear the previous chart
            backButton.style.display = 'none';
            qchart.destroy();

            // Hide the quarter chart and show the month data container
            quarterChartCanvas.style.display = 'none';
            monthChartCanvas.style.display = 'block';

            // Create the chart for the subset data
            let mchart = createChart(monthChartCanvas, months, monthData, 'Monthly Values of ' + selectedQuarter + ' ' + selectedYear);
            // Show the back button
            backButtonM.style.display = 'inline-block';

            // Add event listener to the back button
            backButtonM.addEventListener('click', function() {
              // Clear the month chart
              mchart.destroy();
              backButton.style.display = 'inline-block';
              backButtonM.style.display = 'none';

              // Hide the month chart and show the quarter chart
              monthChartCanvas.style.display = 'none';
              quarterChartCanvas.style.display = 'block';
              qchart = createChart(quarterChartCanvas, quarters, quarterData, 'Quarterly Values of ' + selectedYear);
            });
          }
        });
      }
    });
  </script>
</div>

<div class="row">
    <table class="centered highlight">
        <thead>
            <th>Year</th>
            <th>Quarter</th>
            <th>Month</th>
            <th>Invoice<br />count</th>
            <th class="amount">Amount</th>
        </thead>
        {% for year, total_year in totals.items %}
        {% if year != "total" %}
            <tr class="yearly grey lighten-2">
                <td>{{ year }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="amount">{{ total_year.total|floatformat:2|intcomma }} lei</td>
            </tr>
            {% for quarter, total_quarter in total_year.items %}
            {% if quarter != "total" %}
                <tr class="quarterly grey lighten-4">
                    <td></td>
                    <td>{{ quarter }}</td>
                    <td></td>
                    <td></td>
                    <td class="amount">{{ total_quarter.total|floatformat:2|intcomma }} lei</td>
                </tr>
                {% for month, total_month in total_quarter.items %}
                {% if month != "total" %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ total_month.date|date:"F" }}</td>
                    <td>{{ total_month.count }}</td>
                    <td class="amount">{{ total_month.total|floatformat:2|intcomma }} lei</td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}
