{% extends "base.html" %}
{% load material_form %}

{% block content %}
<div class="row">
    <div class="{%block formclass %}col s12 m8 l8 offset-l2 offset-m2{% endblock %}">
        <div class="card">
            <form method="post" action=".">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% block formtitle %}{{ form_title }}{% endblock %}</span>
                    {% csrf_token %}
                    {% form %}
                    {% block formcontent %}{% endblock %}
                    {% endform %}
                </div>
                <div class="card-action">
                    {% block actions %}
                    <div class="right-align">
                        {% block formbuttons %}
                        <button class="btn btn-primary" type="submit" style="background-color: rgba(0, 0, 0, 0.87)"> &gt;&gt; </button>
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
