{% load humanize %}

<div class="row" id="dashboard">
    {% for registry in registries %}
        <h5><a style="text-transform: uppercase;" href='{% url "registry-update" pk=registry.id %}'>
            {{ registry.seller.name }} - {{ registry.display_name }}
        </a></h5>

        <table>
        <tr>
            <td>Invoices</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="center-align"><h5>
                <a href="{% url 'registry-invoice-add' registry_id=registry.id %}">
                &#x002B;
                </a>
            </h5></td>
        </tr>
        {% for invoice in registry.invoices.all reversed %}
        <tr>
            <td style="text-align:center"><a href="{% url 'registry-invoice-detail' registry_id=registry.id pk=invoice.id %}">{{ invoice.series_number }}</a></td>
            <td style="text-align:center">{{ invoice.issue_date|naturalday }}</td>
            <td style="text-align:center">{{ invoice.buyer.name }}</td>
            <td style="text-align:center">{{ invoice.quantity }} {{invoice.unit}}</td>
            <td style="text-align:center">{{ invoice.value|floatformat:2|intcomma }} {{ invoice.currency }}</td>
            {% if forloop.first %}
                <td style="text-align:center"><a href="{% url 'registry-invoice-delete'  registry_id=registry.id pk=invoice.id %}">&#x274C;</a></td style="text-align:center">
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
        <small>{{ invoices|length|intword }} invoice{{ invoices|length|pluralize}} found</small>


        <table>
        <tr>
            <td>Contracts</td>
            <td></td>
            <td class="center-align"><h5>
                <a href="{% url 'registry-contract-add' registry_id=registry.id %}">
                &#x002B;
                </a>
            </h5></td>
        </tr>
        {% for contract in registry.contracts.all reversed %}
        <tr>
            <td class="center-align">{{ contract.buyer.name }}</td>
            <td class="center-align">{{ contract.unit_rate|floatformat:2|intcomma }} {{ contract.currency }} / {{ contract.unit }}</td>
            <td class="center-align"><a href="{% url 'registry-contract-update' registry_id=registry.id pk=contract.id %}">&#x2317;</a></td>
        </tr>
        {% endfor %}
        </table>
        <small align="right">{{ contracts|length|intword }} contract{{ contracts|length|pluralize}} found</small>

    {% endfor %}
    <hr>
    <div class="row right-align">
        <a class="btn btn-small align-right" href="{% url "registry-add" %}">Add new registry</a>
    </div>
</div>
