{% extends "base.html" %}
{% load humanize %}

{% block content %}

{% if seller %}
    <h4>{{ seller.name }}</h4>
    <p>
        <table>
        <thead>
            <tr>
                <td>Invoice Registry</td><td></td><td></td><td></td><td></td>
                <td style="text-align:center">
                    <h5><a href="{% url 'microinvoicer_draft_time' %}">&#x002B;
                    </a></h5>
                </td>
            </tr>
        </thead>

        {% for invoice in invoices %}
        <tr>
            <td style="text-align:center"><a href="{% url 'microinvoicer_time_invoice' invoice_id=forloop.counter %}">{{ invoice.series_number }}</a></td>
            <td style="text-align:center">{{ invoice.publish_date|naturalday }}</td>
            <td style="text-align:center">{{ invoice.buyer.name }}</td>
            <td style="text-align:center">{{ invoice.activity.duration }} hours</td>
            <td style="text-align:center">{{ invoice.value|floatformat:2|intcomma }} lei</td>
            {% if forloop.first %}
                <td style="text-align:center"><a href="{% url 'microinvoicer_pop_invoice' %}">&#x274C;</a></td style="text-align:center">
            {% else %}
                <td></td>
            {% endif %}            
        </tr>
        {% endfor %}
        </table>
        <small>{{ invoices|length|intword }} invoice{{ invoices|length|pluralize}} found</small>
    </p>
    <p>
        <table>
        <tr>
            <td>Contract Registry</td>
            <td></td>
            <td style="text-align:center"><h5>
                <a href="{% url 'microinvoicer_register_contract' %}">
                &#x002B;
                </a>
            </h5></td>
        </tr>
        {% for contract in contracts %}
        <tr>
            <td style="text-align:center">{{ contract.buyer.name }}</td>
            <td style="text-align:center">{{ contract.hourly_rate|floatformat:2|intcomma }} euro / hour</td>
            <td style="text-align:center"><a href="{% url 'microinvoicer_contract' contract_id=forloop.counter %}">&#x2317;</a></td>
        </tr>
        {% endfor %}
        </table>
        <small align="right">{{ contracts|length|intword }} contract{{ contracts|length|pluralize}} found</small>
    </p>
{% else %}
    <h4>No fiscal information about seller available.</h4>
    <p>Open <a href="{% url 'microinvoicer_setup' %}">seller</a> details right now.</p>
{% endif %}

{% endblock %}
