{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col s6">
            <small>[seller]</small><br>
            <strong><u>{{ object.seller.name }}</u></strong><br>
            {{ object.seller.address }}<br>
            {{ object.seller.country.name }}<br>
        </div>
        <div class="col s6 right-align">
            <small>[buyer]</small><br>
            <strong><u>{{ object.buyer.name }}</u></strong><br>
            {{ object.buyer.address }}<br>
            {{ object.buyer.country.name }}<br>
        </div>
    </div>
    <h4 align="center">Invoice {{ object.series_number }}</h4><br>
    <div class="row">
        <div class="col s6">{{ object.description }}</div>
        <div class="col s6 right-align">issued on <strong>{{ object.issue_date|naturalday }}</strong></div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5 align="center">
                {{ object.quantity }} <sub><small>{{ object.unit }}</small></sub>
                x {{ object.unit_rate|floatformat:0 }} <sub><small>{{ object.contract_currency }}/{{ object.unit }}</small></sub>
                {% if object.conversion_rate %}
                [ x {{ object.conversion_rate|floatformat:4 }} <sub><small>{{ object.currency }}/{{ object.contract_currency }}</small></sub> ]
                {% endif %}
                = {{ object.value|floatformat:2|intcomma }} <sub><small>{{ object.currency }}</small></sub>
            </h5>
        </div>
    </div>
    <br>
</div>
<div class="row">
    <div class="col center-align">
        <a class="btn-large" href="{% url 'registry-invoice-print' registry_id=object.registry.id pk=object.id %}" download>
            Download PDF
        </a>
    </div>
        <a class="btn-large" href="{% url 'registry-invoice-timesheet' registry_id=object.registry.id pk=object.id %}" download>
            Fake Timesheet PDF
        </a>
    <div class="col center-align">
    </div>
</div>
{% endblock %}
